* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* Some root styles */
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  padding: 20px 25px;
  border: 0;
  border-radius: 5px;
}
/*Banner section styles  */
.banner {
  background-image: url("./images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1900px;
  height: 808px;
  margin: 0 auto;
  position: relative;
}
.banner-section {
  text-align: right;
  position: absolute;
  left: 1140px;
  top: 295px;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  margin-bottom: 35px;
}
.banner-descrip {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 35px;
}

/* credit section styles */
.credit {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  display: flex;
  gap: 178px;
  margin-top: 240px;
}
.credit-title {
  font-weight: 800;
  font-size: 41px;
  color: #151414;
  margin-bottom: 30px;
}
.credit-descrip {
  font-weight: 400;
  font-size: 21px;
  color: #444343;
  margin-bottom: 25px;
  line-height: 30px;
}
.failure {
  line-height: 30px;
  font-weight: 400;
  font-size: 19px;
  color: #444343;
}
.title-section {
  position: absolute;
  top: 210px;
  left: 766px;
}
#icon {
  color: #005fac;
  margin-right: 7px;
}

/* All Plans Styles */
.plan-section {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 210px;
}
.plan-title {
  font-weight: 700;
  font-size: 55px;
  color: #151414;
  text-align: center;
  margin-bottom: 95px;
}
.all-plans {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}
.all-plans .info-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin-bottom: 12px;
  margin-top: 12px;
}
.all-plans .info-descrip {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}
.all-plans .div1 {
  background-color: #85a8c8;
  padding: 12px 50px;
  border-radius: 10px;
}
.all-plans .div2 {
  background-color: #85cede;
  padding: 15px 71px;
  border-radius: 10px;
}
.all-plans .div3 {
  background-color: #d393be;
  padding: 16px 70px;
  border-radius: 10px;
}
.all-plans .div4 {
  background-color: #d4b576;
  padding: 17px 70px;
  border-radius: 10px;
}
/* Feature Section Styles */
.feature-section {
  background-image: linear-gradient(
      90deg,
      rgba(3, 3, 237, 0.5) 20%,
      rgba(8, 119, 162, 0.55) 40%,
      transparent 80%
    ),
    url(./images/watch.png);
  background-size: cover;
  max-width: 1365px;
  height: 300px;
  margin: 0 auto;
  margin-top: 210px;
  position: relative;
  margin-bottom: 200px;
}
.feature-title {
  position: absolute;
  left: 80px;
  top: 53px;
}
.feature-title h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 15px;
}
/* My gadget section started */
.gadget-section {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 210px;
  margin-bottom: 150px;
  background-color: #d1afaf;
  padding: 42px 127px;
}
.gadget-title {
  text-align: center;
  font-size: 41px;
  margin-bottom: 65px;
}
.gadget-container {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  align-items: center;
  padding: 31px 33px;
}
.gadget h3 {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.gadget {
  text-align: center;
}
.gadget p {
  font-size: 21px;
  line-height: 25px;
}
/* Footer Section */
.footer-section {
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  padding: 128px;
}
.footer-info {
}
.footer-info h3 {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 21px;
}
.footer-info p {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 23px;
}
.footer-icon img {
  margin-right: 16px;
  margin-top: 5px;
}
.footer-form {
}
.footer-form h5 {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 12px;
}
.footer-form #email {
  font-weight: 700;
  font-size: 18px;
  color: #e4bfbf;
  padding: 18px 21px;
  background-color: #020202;
  border: 2px solid #b99999;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer-form #subscribe {
  font-weight: 600;
  font-size: 20px;
  padding: 19px 39px;
  border: 0;
  border-radius: 5px;
  background-color: #0b60da;
}
